.modal-container {
    z-index: 20;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fff;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    transition:
        transform 0.3s ease-in-out,
        opacity 0.3s ease-in-out;

    &.in {
        transform: translateY(0);
        opacity: 1;
    }
    &.out {
        transform: translateY(100%);
        opacity: 0;
    }
}
