html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.app {
  @include flexbox;
  @include flex-direction(column);
  height: 100%;
}

.main {
  @include flexbox;
  @include flex-direction(column);
  height: 100%;
  overflow-y: auto;
}

.content {
  @include flexbox;
  @include flex-direction(column);
  height: 100%;
  overflow-y: auto;
  background-color: var(--gray);
}
