:root {
  // Color
  --primary: #6f80f5;
  --secondary: #ff4fbe;

  --current: currentColor;
  --transparent: transparent;
  --white: #ffffff;
  --gray: #f3f3f3;

  // fontSize
  --h1: 28px;
  --h2: 24px;
  --h3: 22px;
  --h4: 20px;
  --h5: 20px;
  --h6: 18px;
  --text-size-base: 16px;
  --text-size-lg: 18px;
  --text-size-sm: 14px;
  --text-size-xs: 13px;
  --text-size-xxs: 11px;
}
