@import './_reset';
@import './_variables';
@import './_mixins';

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  clip: rect(0 0 0 0);
}

.flex {
  @include flexbox;
  @include justify-content(flex-start);
}

.flex-col {
  @include flex-direction(column);
}

.justify-center {
  @include justify-content(center);
}

.items-center {
  @include align-items(center);
}
