.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  flex-shrink: 0;
  background-color: var(--white);
  padding: 0 28px;

  .home-btn {
    width: 40px;
    height: 40px;
    background-color: var(--gray);
  }

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
  }

  .lang-btn {
    display: flex;

    button {
      width: 60px;
      height: 40px;
      background-color: var(--gray);
    }

    .active {
      background-color: var(--primary);
    }
  }
}
