.header {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  @include flex-shrink(0);
  position: relative;
  height: 100px;
  background-color: var(--white);
  padding: 0 28px;

  .home-btn {
    width: 40px;
    height: 40px;
    background-color: var(--gray);
  }

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
  }

  .lang-btn {
    @include flexbox;

    button {
      width: 60px;
      height: 40px;
      background-color: var(--gray);
    }

    .active {
      background-color: var(--primary);
    }
  }
}
