// global styles

:root {
    --vh: 100%;
}

html,
body {
    height: 100vh;
    height: var(--vh);
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    // scroll none
    overscroll-behavior: none;
}

// iOS 14.5+ fix
body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
